{{#> _base hideNav=hideNav}}
{{#*inline "contents"}}

{{#if hideNav}}
<div class="full-bg-90 red darken-3 white-text">
    <div class="page-login-bg pos-absolute absolute-fit"></div>
    <h4 class="no-margin mb-1 pos-relative text-center">{{@config.siteTitle}}</h4>
    <h2 class="no-margin mb-5 pos-relative trans-1 text-center">Start Sharing Today!</h2>
    <div class="text-center">
        <a href="/login"
            class="btn-large ml-1 mr-1 mt-1 mb-1 waves-effect waves-red white red-text text-darken-1"><b>Login</b></a>
        <a href="/signup"
            class="btn-large ml-1 mr-1 mt-1 mb-1 waves-effect waves-red white red-text text-darken-1"><b>Sign
                Up</b></a>
        <a href="#listings"
            class="btn-large ml-1 mr-1 mt-1 mb-1 waves-effect waves-red white red-text text-darken-1"><b>Browse</b></a>
    </div>
</div>
{{/if}}

<div id="listings" class="container">
    <div class="row z-depth-1 listing-search-box mt-4 mb-5">
        <form method="GET" action="/search" id="search-form">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input placeholder="Search" value="{{search}}" name="query" id="search" type="search"
                    required="required" />
                <label class="label-icon" for="search"></label>
                <button type="submit" form="search-form" class="hide"></button>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 no-margin">
                    <select name="category" form="search-form">
                        <option value="0" selected>Category</option>
                        <option value="1">PC</option>
                        <option value="2">PC1</option>
                        <option value="3">PC2</option>
                    </select>
                </div>

                <div class="input-field col s12 m6 no-margin">
                    <select name="sortBy" form="search-form">
                        <option value="0" selected>Sort By...</option>
                        <option value="1">Min Bid Required (Lowest to Highest)</option>
                        <option value="2">Newest First</option>
                        <option value="3">Oldest First</option>
                        <option value="4">Most Likes</option>
                    </select>
                </div>
            </div>

            <div class="flex-display flex-justify-center">
                <div class="mr-4">
                    <label>
                        <input value="listing" class="with-gap" name="searchFor" type="radio" checked="checked" />
                        <span>Listing</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input value="user" class="with-gap" name="searchFor" type="radio" />
                        <span>User</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="row pt-3 pb-3">
        <h5>{{message}}</h5>

        {{#if listing}}
        {{#each list}}
        <a href="/item/{{this.iid}}">
            <div class="col s12 m6 xl4">
                <div class="card waves-effect waves-block">
                    <div class="card-image">
                        <div class="img-fit listing-item-image"
                            {{#if this.photo}} style="background-image: url('/uploads/{{this.photo}}');" {{/if}}>
                        </div>
                        <form method="POST" action="/item/{{this.iid}}/like">
                            {{#if this.liked}}
                            <button type="submit"
                                class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">favorite</i></button>
                            {{else}}
                            <button type="submit"
                                class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">favorite_border</i></button>
                            {{/if}}
                        </form>

                    </div>
                    <div class="card-content black-text">
                        <span class="card-title mb-0"><b>{{this.item_name}}</b></span>
                        <div class="flex-display flex-align-center">
                            <div class="trans-2">{{this.time_ending_text}}</div>
                            <div class="flex-grow"></div>
                            <div class="flex-show font-larger">${{this.min_bid}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
        {{/if}}

        {{#if user}}
        {{#each list}}
        <a href="/user/{{this.uid}}" class="link-normal">
            <div class="col s12 m6 l4 xl3">
                <div class="card waves-effect waves-block">
                    <div class="card-content black-text">
                        <span>{{this.uid}}</span>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
        {{/if}}
    </div>
</div>
{{/inline}}
{{/_base}}