{{#> _base }}
{{#*inline "contents"}}
<div class="container">
    <div class="row">
        <form method="GET" action="/search">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input placeholder="Search" name="query" id="search" type="search" required>
                <label class="label-icon" for="search"></label>
                <i class="material-icons">close</i>
            </div>

            <p>
                <label>
                    <input value="listing" class="with-gap" name="searchFor" type="radio" checked />
                    <span>Listing</span>
                </label>

                <label>
                    <input value="user" class="with-gap" name="searchFor" type="radio" />
                    <span>User</span>
                </label>

            </p>
        </form>
    </div>
    <div class="row">
        <h4>{{message}}</h4>
        {{#if listing}}

        {{#each list}}
        <a href="/item/{{this.iid}}">
            <div class="col s12 m6 xl4">
                <div class="card waves-effect waves-block">
                    <div class="card-image">
                        <div class="img-fit listing-item-image"
                            style="background-image: url('https://media.karousell.com/media/photos/products/2018/10/07/buy_1538918236_d4243b29.jpg');">
                        </div>
                        <form method="POST" action="/item/{{this.iid}}/like">
                            {{#if this.liked}}
                            <button type="submit"
                                class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">favorite</i></button>
                            {{else}}
                            <button type="submit"
                                class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">favorite_border</i></button>
                            {{/if}}
                        </form>

                    </div>
                    <div class="card-content black-text">
                        <span class="card-title mb-0"><b>{{this.item_name}}</b></span>
                        <div class="flex-display flex-align-center">
                            <div class="trans-2">3 days left</div>
                            <div class="flex-grow"></div>
                            <div class="flex-show font-larger">${{this.min_bid}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{/each}}

        {{/if}}


        {{#if user}}

        <ul>
            {{#each list}}
            <li><a href="/user/{{this.uid}}">{{this.uid}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
{{/inline}}
{{/_base}}