{{#> _base }}
{{#*inline "contents"}}
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a target="_self" href="/item/{{itemId}}">Info</a></li>
                <li class="tab"><a target="_self" href="/item/{{itemId}}/listing">Listing</a></li>
                <li class="tab"><a target="_self" class="active" href="/item/{{itemId}}/review">Reviews</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {{#unless reviews.length}}
            No reviews available
        {{/unless}}
        {{#each reviews}}
        <div>
            <p><b>{{this.user_uid}} on {{this.time_created}}</b></p>
            {{#each this.sections}}
            <br>
            <p><b>{{this.sname}}</b></p>
            <p>{{this.content}}</p>
            {{/each}}
        </div>
        <div class="divider"></div>
        {{/each}}
    </div>
</div>
{{/inline}}
{{/_base}}