{{#> _base title="Reviews"}}
{{#*inline "contents"}}
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a target="_self" href="/item/{{itemId}}">Info</a></li>
                <li class="tab"><a target="_self" href="/item/{{itemId}}/listing">Listing</a></li>
                <li class="tab"><a target="_self" class="active" href="/item/{{itemId}}/review">Reviews</a></li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        {{#unless reviews.length}}
        <div class="text-center">No reviews available</div>
        {{/unless}}
        {{#each reviews}}
        <div class="card col s12">
            <div class="card-content black-text">
                <div class="mb-5">
                    <h5 class="no-margin">{{this.user_uid}}</h5>
                    <div class="trans-1">{{this.time_created_text}}</div>
                </div>
                {{#each this.sections}}
                <div class="mt-4">
                    <h6 class="no-margin mb-1 font-larger">{{this.sname}}</h6>
                    <p class="trans-1 font-small">{{this.content}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="pb-5"></div>
</div>
{{/inline}}
{{/_base}}