{{#> _base }}
{{#*inline "contents"}}

<div class="container">
    {{!-- PERSONAL DETAILS --}}
    <div class="row">
        <h3>{{user.uid}}</h3>
        {{#unless isMyProfile}}
        <form method="POST" action="/user/{{user.uid}}/follow">
            <button class="btn btn-small waves-effect waves-light red">Follow!</button>
        </form>
        {{/unless}}

        {{#if isMyProfile}}
        <!-- Modal Trigger -->
        <div class="mb-2">
            <a class="waves-effect waves-light red darken-1 btn modal-trigger" href="#modal1">Edit<i
                    class="material-icons text-darken-1 right">edit</i></a>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <form method="POST" action="/user/{{user.uid}}" class="col s12" id="detailsForm">
                <div class="modal-content">
                    <h4>Edit Personal Details</h4>
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input value="{{user.email}}" name="email" id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input value="{{user.mobile}}" name="mobile" id="mobile" type="text"
                                        class="validate">
                                    <label class="active" for="mobile">Mobile</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input value="{{user.address}}" name="address" id="address" type="text"
                                        class="validate">
                                    <label for="address">Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <button type="submit" form="detailsForm" class="modal-close waves-effect waves-green btn-flat">Save
                        Changes</button>
                </div>
            </form>
        </div>
        {{/if}}

        <div class="col s12">
            <div class="card">
                <div class="card-content black-text">
                    <div class="flex-display flex-align-center mt-0-5"><i
                            class="material-icons trans-3 mr-1">local_phone</i>
                        {{user.mobile}}</div>
                    <div class="flex-display flex-align-center mt-0-5"><i
                            class="material-icons trans-3 mr-1">email</i>{{user.email}}</div>
                    <div class="flex-display flex-align-center mt-0-5"><i
                            class="material-icons trans-3 mr-1">home</i>{{user.address}}</div>
                </div>
            </div>
        </div>
    </div>



    {{#if isMyProfile}}
    {{!-- ITEMS --}}
    <div class="row">
        <h4>Items</h4>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light red darken-1 btn modal-trigger" href="#modal2">Add<i
                class="material-icons text-darken-1 right">add</i></a>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <form method="POST" action="/item" enctype="multipart/form-data" class="col s12" id="newItemForm">
                <div class="modal-content">
                    <h4>Add New Item</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="itemName" id="itemName" type="text" class="validate">
                            <label for="itemName">Item Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="category" id="category">
                                <option value="" disabled selected>Category</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Household">Household</option>
                                <option value="Book">Book</option>
                            </select>
                            <label for="category">Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="status" id="status" type="text" class="validate">
                            <label for="status">Status</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn">
                                <span>Photo</span>
                                <input type="file" name="photo" id="photo">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="desc" id="desc" class="materialize-textarea"></textarea>
                            <label for="desc">Description</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <button type="submit" form="newItemForm" class="modal-close waves-effect waves-green btn-flat">Add
                        Item</button>
                </div>
            </form>
        </div>

    </div>
    {{/if}}

    <div class="row">
        {{#each items}}
        <a href="/item/{{this.iid}}">
            <div class="col s12 m6 xl4">
                <div class="card waves-effect waves-block">
                    <div class="card-image">
                        <div class="img-fit listing-item-image"
                            {{#if this.photo}}style="background-image: url('/uploads/{{this.photo}}');" {{/if}}>
                        </div>
                        <form method="POST" action="/item/{{this.iid}}/delete">
                            <button class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">delete</i></button>
                        </form>
                    </div>
                    <div class="card-content black-text">
                        <span class="card-title mb-0"><b>{{this.item_name}}</b></span>
                        <div class="flex-display flex-align-center">
                            <div class="trans-2">{{this.category}}</div>
                            <div class="flex-grow"></div>
                            <div class="flex-show font-larger">{{this.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{/each}}
    </div>

    {{!-- LISTING --}}
    <div class="row">
        <h4>Listing</h4>
        {{#each listings}}
        <a href="/item/{{this.item_iid}}">
            <div class="col s12 m6 xl4">
                <div class="card waves-effect waves-block">
                    <div class="card-image">
                        <div class="img-fit listing-item-image"
                            {{#if this.photo}}style="background-image: url('/uploads/{{this.photo}}');" {{/if}}>
                        </div>
                    </div>
                    <div class="card-content black-text">
                        <span class="card-title mb-0"><b>{{this.title}}</b></span>
                        <div class="flex-display flex-align-center">
                            <div class="trans-2">{{this.category}}</div>
                            <div class="flex-grow"></div>
                            <div class="flex-show font-larger">{{this.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{/each}}
    </div>


    {{!-- LIKES --}}
    <div class="row">
        <h4>Likes</h4>
        {{#each likes}}
        <a href="/item/{{this.iid}}">
            <div class="col s12 m6 xl4">
                <div class="card waves-effect waves-block">
                    <div class="card-image">
                        <div class="img-fit listing-item-image"
                            {{#if this.photo}}style="background-image: url('/uploads/{{this.photo}}');" {{/if}}>
                        </div>
                        <form method="POST" action="/item/{{this.iid}}/like">
                            <button type="submit"
                                class="btn-floating btn-large halfway-fab waves-effect waves-red white"><i
                                    class="material-icons red-text text-darken-1">favorite</i></button>
                        </form>
                    </div>
                    <div class="card-content black-text">
                        <span class="card-title mb-0"><b>{{this.item_name}}</b></span>
                        <div class="flex-display flex-align-center">
                            <div class="trans-2">{{this.category}}</div>
                            <div class="flex-grow"></div>
                            <div class="flex-show font-larger">{{this.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{/each}}
    </div>

    {{!-- FOLLOWING --}}
    <h4>Following</h4>
    <div class="row">
        {{#each following}}
        <a href="/user/{{this.followee_uid}}" class="link-normal">
            <div class="col s12 m6 l4 xl3">
                <div class="card waves-effect waves-block">
                    <div class="card-content black-text">
                        <span>{{this.followee_uid}}</span>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>

    {{!-- FOLLOWERS --}}
    <h4>Followers</h4>
    <div class="row">
        {{#each followers}}
        <a href="/user/{{this.follower_uid}}" class="link-normal">
            <div class="col s12 m6 l4 xl3">
                <div class="card waves-effect waves-block">
                    <div class="card-content black-text">
                        <span>{{this.follower_uid}}</span>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>

    {{#if isMyProfile}}
    {{!-- SUGGEST TO FOLLOW --}}
    <h4>Suggested Users To Follow</h4>
    <div class="row">
        {{#each suggestFollows}}
        <a href="/user/{{this.followee}}" class="link-normal">
            <div class="col s12 m6 l4 xl3">
                <div class="card waves-effect waves-block">
                    <div class="card-content black-text">
                        <span>{{this.followee}}</span>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{/if}}

    <div class="pb-5"></div>
</div>
{{/inline}}
{{/_base}}